
<div class="container-fluid">
  <div class="book-list-page">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4 left-column">
        <div class="box-left background-box">
          <% @books.each do |book| %>
            <div class="each-book-box clearfix">
              <%=image_tag((book.image), id: "book-image") %>
              <h4><%= (book.name).titleize %></h4>
              <%= book.author %>
              <%= button_to "Info", "#", method: "get", data: { name: (book.name).titleize,
                                                                     id: book.id, 
                                                                     author: book.author,
                                                                     image: book.image,
                                                                     description: book.description,
                                                                     amazon_product_url: book.amazon_product_url,
                                                                     rank: book.rank,
                                                                     weeks_on_list: book.weeks_on_list,
                                                                     primary_isbn13: book.primary_isbn13
                                                                    }, class: "btn more-info" %>
            </div>
          <% end %> 
        </div> 
      </div>
      <div class="col-md-4">
        <div class="box-right .hidden-xs .hidden-sm .hidden-md">
          <h2>
            <%= (@list.name) %>
          </h2>
          <h4>
            <%= link_to 'Choose another category', root_path %>
          </h4>
          <div id="book-info" class="hidden">
          </div>
          <%= link_to("#", class: 'amazon-button hidden', id: "buy-button") do 
            image_tag('buy_from_amazon.jpg')
          end %>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>

