<div class="open-book">
  <div class="box-left">


    <p>
      <strong>Category:</strong>
      <%= (@list.name) %>
      <%= link_to 'All categories', root_path %>
    </p>

      <% @books.each do |book| %>
        <div class="each-book-box clearfix">
          <%=image_tag((book.image), id: "book-image") %>
          <h4><%= (book.name).titleize %></h4>
          <%= book.author %>
          <%= button_to "More info", {}, class: "btn more-info" %>
        </div>
      <% end %>
    

    
  </div>
</div>
