<div class="container-fluid">
  <div class="book-info-page">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4 left-column">
        <div class="box-left background-box">
    
          <img src=<%= @book.image %>>

          <h3><%= @book.name %></h3>

          <p>
            <strong>Author:</strong>
            <%= @book.author %>
          </p>

          <p>
            <strong>Primary isbn13:</strong>
            <%= @book.primary_isbn13 %>
          </p>

          <p>
            <% unless @book.age_group.blank? %>
              <strong>Age group:</strong>
              <%= @book.age_group %>
            <% end %>
          </p>

          <p>
            <strong>Rank:</strong>
            #<%= @book.rank %>
          </p>

          <p>
            <strong>Weeks on list:</strong>
              <% if @book.weeks_on_list.zero? %>
                1
              <% else %>
                <%= @book.weeks_on_list %>
              <% end %>
          </p>
          <p>
            <% unless @book.review_score.blank? %>
              <strong>Critics' score:</strong> <%= number_to_percentage(@book.review_score, precision: 0) %>
            <% end %>
          </p>

          <p>
            <% unless @book.description.blank? %>
              <strong>Description:</strong><%= @book.description %>
            <% end %>
          </p>
          <p>
            <%= link_to(@book.amazon_product_url) do %> 
              <% image_tag('buy_from_amazon.jpg') %>
            <%end%>
          </p>

          <p>
            <%= link_to 'Choose another book', :back %>
          </p>
          <p>
            <%= link_to 'Choose another category', root_path %>
          </p>
        </div>
      </div>
    

      <div class="col-md-4">
        <div class="box-right background-box">
          <% if @book.critic_reviews.count == 0 %>
            <blockquote>
              <p>Critic reviews coming soon!</p>
              <footer>Booksearcher</footer>
            </blockquote>
          <% end %>
          <% @book.critic_reviews.each do |critic_review| %>
            <blockquote>
              <p>
                <%= critic_review.snippet %> 
                <small><a href=<%= critic_review.review_link%>>more</a></small>
              </p>

              <footer><p><strong><%= critic_review.source %></strong> gave it <strong><%= critic_review.star_rating %>/5 stars</strong></p></footer>
            </blockquote>

          <% end %>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>