<h3><%= @book.name %></h3>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<img src=<%= @book.image %>>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <% unless @book.age_group == "" %>
    <strong>Age group:</strong>
    <%= @book.age_group %>
  <% end %>
</p>

<p>
  <strong>Rank:</strong>
  #<%= @book.rank %>
</p>

<p>
  <strong>Weeks on list:</strong>
    <% if @book.weeks_on_list == 0 %>
      1
    <% else %>
      <%= @book.weeks_on_list %>
    <% end %>
</p>

<p>
  <strong>Primary isbn13:</strong>
  <%= @book.primary_isbn13 %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
